@page
@model Webapp.Pages.Plugins.JsonEditorModel

@{
    ViewData["Title"] = "Plugins-JsonEditor";
}

<link href="~/lib/jsoneditor/jsoneditor.min.css" rel="stylesheet" type="text/css">

<script src="~/lib/jsoneditor/jsoneditor.map"></script>
<script src="~/lib/jsoneditor/jsoneditor.min.js"></script>

<div id="jsoneditor" style="width: 400px; height: 400px;"></div>

    <script>
        // create the editor
        const container = document.getElementById("jsoneditor")
        const options = {}
        const editor = new JSONEditor(container, options)

        // set json
        const initialJson = {
            "Array": [1, 2, 3],
            "Boolean": true,
            "Null": null,
            "Number": 123,
            "Object": {"a": "b", "c": "d"},
            "String": "Hello World"
        }
        editor.set(initialJson)

        // get json
        const updatedJson = editor.get()
    </script>