@page
@model Webapp.Pages.Plugins.DataTable.IndexModel

<h1>DataTable</h1>

<button class="create btn-info">Create</button>

<script>
    $('.create').click(function(){
        alert("create");
    });
</script>

