@page
@model Webapp.Pages.JsonEditors.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>JsonEditor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JsonEditor.Id" />
            <select name="JsonEditor.Name">
                <option value="123">123</option>
                <option value="456">456</option>
            </select>
            @*<div class="form-group">
                <label asp-for="JsonEditor.Name" class="control-label"></label>
                <input asp-for="JsonEditor.Name" class="form-control" />
                <span asp-validation-for="JsonEditor.Name" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="JsonEditor.UpdateTime" class="control-label"></label>
                <input asp-for="JsonEditor.UpdateTime" class="form-control" />
                <span asp-validation-for="JsonEditor.UpdateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JsonEditor.Content" class="control-label"></label>
                <input asp-for="JsonEditor.Content" class="form-control" />
                <span asp-validation-for="JsonEditor.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JsonEditor.Note" class="control-label"></label>
                <input asp-for="JsonEditor.Note" class="form-control" />
                <span asp-validation-for="JsonEditor.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
